<header>
	<div class="full-container">
		<div class="header-wrap">
			<div class="btn-showmenu">
				<i class="material-icons">menu</i>
			</div>
			<div class="overlay"></div>
			<div class="logo">
				<a href="/">
					<img src="/img/svg/appvity-logo-bright.svg" />
				</a>
				<a href="/" class="logo-mobile">
					<img src="/img/svg/appvity-logo-graphic.svg" />
				</a>
			</div>
			<div class="logo dark-mode">
				<a href="/">
					<img src="/img/svg/appvity-logo-dark.svg" />
				</a>
				<a href="/" class="logo-mobile">
					<img src="/img/svg/appvity-logo-graphic.svg" />
				</a>
			</div>
			<div class="menu">
				<div class="menu-wrap">
					<ul class="menu-link">
						<li class="has-sub">
							<a href="#!">
								<span>Products</span>
								<i class="material-icons">arrow_drop_down</i>
							</a>
							<div class="sub">
								<ul>
									<li>
										<a class="dropdown-item" href="/eTask">
											<img src="img/svg/eTask-bright.svg" />
											<img class="mobile" src="img/svg/eTask-dark.svg" />
											<span>eTask</span>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/eBug">
											<img src="img/svg/eBug-bright.svg" />
											<img class="mobile" src="img/svg/eBug-dark.svg" />
											<span>eBug</span>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/eProject">
											<img src="img/svg/eProject-bright.svg" />
											<img class="mobile" src="img/svg/eProject-dark.svg" />
											<span>eProject</span>
										</a>
									</li>
								</ul>
								<ul class="app-sub-dark-mode">
									<li>
										<a class="dropdown-item" href="/eTask">
											<img src="img/svg/eTask-bright.svg" />
											<img class="mobile" src="img/svg/eTask-bright.svg" />
											<span>eTask</span>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/eBug">
											<img src="img/svg/eBug-bright.svg" />
											<img class="mobile" src="img/svg/eBug-bright.svg" />
											<span>eBug</span>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/eProject">
											<img src="img/svg/eProject-bright.svg" />
											<img class="mobile" src="img/svg/eProject-bright.svg" />
											<span>eProject</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li><a href="/services">Services</a></li>
						<li><a href="/support">Support</a></li>
						<li><a href="/portal">Portal</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>